.movie {
  color: #747474;
  font-size: 16px;

  h2 {
    background-color: #009688;
    color: white;
    font-size: 32px;
    padding: 21px 24px;
    margin: 0;
    font-weight: 300;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
  }

  h3 {
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0.4px;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    padding: 24px;
  }

  .details {
    border-bottom: 1px solid black;
    margin-bottom: 8px;

    .info {
      float: right;
      padding: 24px;
    }

    img {
      margin-bottom: 1.45rem;
    }

    // Smaller screen sizes looked a bit off with the full width image
    @media only screen and (max-width: 372px)  {
      img {
        width: 128px;
      }

      .info {
        padding: 12px;
      }
    }

    // Normally I would try to consolidate the styles a little,
    // but they are all very different here
    .year {
      font-size: 24px;
    }

    .runtime {
      font-size: 24px;
      font-style: oblique;
    }

    .rating {
      color: black;
      margin: 16px 0;
    }

    button {
      width: 112px;
      text-align: center;
      padding: 9px;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 1.5em;
      color: #757373;
      background-color: #86e4db;
      border: 1px solid #6fcac2;

      &:hover, &:focus {
        color: darken(#757373, 20%);
        background-color: darken(#86e4db, 20%);
        border: 1px solid darken(#6fcac2, 20%);
      }

      &:focus {
        outline: darken(#6fcac2, 20%);
      }
    }

    .overview {
      clear: both;
      font-size: 12px;
      letter-spacing: 0.1px;
    }
  }
}
