.trailers {
  ul {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0;
    padding: 0;
  }

  a {
    letter-spacing: 0.28px;
    color: #747474;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;

    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}
