html {
  font: 112.5%/1.45em 'Helvetica', 'Arial', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  overflow-y: scroll;
}

h1 {
  font-size: 2.25rem;
  line-height: 1.1;
  font-weight: bold;
}
h2 {
  font-size: 1.62671rem;
  line-height: 1.1;
}
h3 {
  font-size: 1.38316rem;
  line-height: 1.1;
}

p {
  margin: 0 0 1.45rem 0;
  padding: 0;
}

p *:last-child {
  margin-bottom: 0;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
